{border:0; padding: 0; margin:0;}
html{
    height: 100%;
}
#contenedor{
    height: 100%;
}
body{
    background-color: white;
    height: 100%;
    
}
h3{
    color: #6c878f;
    text-align: center;
    padding: 29px

}
h1{
	text-align: center;
	color: #6c878f;
}
#logo{
    position: absolute;
    width: 100px;
    margin-top: -109px;
}

#cuerpo{
    width:100%;
    height: 65%;
    background-color: #d6ecf2; 
}
footer{
    position: absolute;
    bottom: 0;
}
#balon{
	width: 600px;
	height: 300px;
	margin-left: 100px;
}
table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
#navcontainer {
	font-family: Arial,Sans-Serif;
	margin: 0 auto;
	width: 70%;
	border-bottom: 1px solid #ddd;
}

#navlist {
	width: 60%;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	text-indent: 0;
	list-style-type: none;
}

#navlist li {
	padding: 0;
	margin: 0;
	text-indent: 0;
	display: inline;
}
#navlist li a {
	letter-spacing: -1px;
	text-decoration: none;
	color: #ccc;
	font-size: 1em;
	padding: 0 2px;
	border-top: .5em solid #eee;
}
#navlist li a:hover,#navlist a#current {
	color: #333;
	border-top: none;
	font-size: 1.5em;
}

#navlist a#current { color: #fc6; }
